img{
    height: 70px;
    width: 100px;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.selected-image{
    height: 200px;
    width: 300px;
}
